
{% extends "index.html" %}
{% block title %}Contact{% endblock %}
{% block head %}
  {{ super() }}
  {% endblock %} 
  {% block content %}

<a href="/"><img style="max-width:110px; margin-top: 1px ; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='img/PySoftLogo2.png') }}"></a>
  <br><br>
  <h1 style="font-size: 46px;font-weight: 700; color: #1c98ec; text-align: center;"> Courses</h1>
 <br><br>
 <div class="container">
  <p><span style="color:#1c98ec">@<a href="/">PySoft s.r.o.</a></span> We not only produce Software products but we try to expand your thinking as well!  
 <br><br>
 There are many if not unlimited challenges when it comes to  self-paced online learning , one of them being  you get stuck  and it can be hard to get help to get yourself out of that specific problem and continue with your hacking.
 That is why <span style="color:  #1c98ec"> @ PySoft s.r.o. </span> we offer a Python programming and Introductory Networking courses which are hands-on and teach you not only programming but rather also tackling problems , critical thinking and software design patterns.
<br><br>
<h4 style="color:#1c98ec;text-weight: bold">Can we get more details about classes?</h4>
<p>A typical course day starts with  coffee around 9:00am. The session runs from 9:30-5:30pm with a lunch and another coffee break. Trainning session is divided between ready theory and hacking on projects.There is time to code , to ask questions and to discuss.</p>
<br><br>
<h4 style="color: #1c98ec"> Am I or the team is  ready to take a course?</h4>
<p>Courses are attended by folks with different backgrounds. Eventhough there are no specific prerequisites, You or your team should be comfortable with using basic utilities on a laptop computer.</p>
<br><br>
<h4 style="color: #1c98ec"> What's Included?</h4>
   An electronic copy of all notes and materials & coffee with snacks.
   <p> For more information and general inquiries, please send email to <a href="mailto:contact@pysoftsro.com?Subject=Hello%20again" target="_top">contact@pysoftsro.com</a>
   <br><br>
<h4  style="color: #1c98ec"> Course Summary</h4>
Programming is fun and profitable. Acquring knowledge and becoming a software developer should also be in similar manner fun! Our course will teach you everything you need to know about the Python language all the while building interesting and engaging applications.
<ul>
    <li>Setting up development environment with Python and a code editor(IDE)</li>
    <li>Going through data types such as integers, strings, lists, and dictionaries</li>
    <li>Looping to get a lot of work done with a little bit of effort(shorter codes)</li>
    <li>Accessing Built-in Python modules and their functionalities</li>
    <li>Code-reading(not cold reading &#9786;) , writing codes and running programs</li>
    <li>Navigation of the command line to get ready for writing larger scripts</li>
    <li>Creating our own functions to envelope useful work for future use</li>
    <li> Using Object Oriented Programming via classes to blue-print to collect, name, and reuse functions and variables</li>
    <li>Practicng what we have learned with projects</li>
</ul>
 </div>
{% endblock %}<br>

