{% extends "index.html" %}
{% block title %}Disclaimer{% endblock %}
{% block head %}
  {{ super() }}
  {% endblock %} 
  {% block content %}

<a href="/"><img style="max-width:110px; margin-top: 1px ; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='img/PySoftLogo2.png') }}"></a>
  <br><br>
  <h1 style="font-size: 46px;font-weight: 700; color: #1c98ec; text-align: center;"> Disclaimer</h1>
 <br><br>
 <div class="container">
     <p><span style="color:#1c98ec">@<a href="/">PySoft s.r.o.</a></span> We passionately use and advocate open source platforms, programming languages, productivity helper tools . Please notice that when we put the logos of some of the opensource platforms and products we are not saying we work directly  with those companies and products in cooperation but rather we use their services and platforms to deliver the best software and IT experience. Logos include <span style="color: #1c98ec">Python,JavaScript,PostgreSQL, Ubuntu, git,Linux, C, Ngnix, redis</span>.</div>{% endblock %}
     <br>







