<!doctype html>
<html>
<head>
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">

<title>{% block title %}{% endblock %}PySoft s.r.o.</title>
<style>
    body {
    background-color: #1D1D1D;
    .container {
    position: absolute;
    display: flex;
    font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 20px;
    }
p { font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color: white; }
.heart {
   fill: red;
   position: relative;
   top: 5px;
   width: 50px;
   animation: pulse 1s ease infinite;
}
</style>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1o">
{% endblock %}
</head>
<body> 
  <div id="content" style="color: #e5e7e9;font-weight:300; font-size: 20px; font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; > {% block content %}
<a href="/"><img style="max-width:110px;margin-top: 1px ; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='img/PySoftLogo2.png') }}"></a>
  <br><br>
<h1 style="font-weight: 700;font-size: 46px;color:#1c98ec; text-align: center;">PySoft s.r.o.</h1>
<br><br>
	 <div class="container"><p><span style="color: #1c98ec">PySoft s.r.o. </span> is an independent Software and research company.</p><br>
	 <p>Using the power of Python and other bleeding edge technlogies PySoft s.r.o. focuses mainly on Web Development, Network Programming, Security and other similar applications and software products. </p>
<br>
<p>Our servers run in cloud mainly on world class Linux servers which we configure to optimize performance. We use various web server combinations to serve applications in a reliable way. 
<p>
 Our source code is managed using Git and processed through GitHub, Git-Lab or Bit-bucket depending on scope of the software. We run Continuous Integration to make sure our processes are going smoothly. As an agile company alongside writing the software we run simultaneously automated tests to find out pain points and resolve any issues in a timely manner. Software is packaged and distributed as a package and per request can be deployed using modern methods like  ansible or fabric. As we walk the talk we have a metric system to monitor performance.
</p>
<p>We are passionate about open source and use these technologies to provide the best service , as well as give back to open source community by running independent research and providing training sessions, contributions. </p>
<br>
<div style="content-align: center; hspace:40;">
<img src="{{ url_for('static', filename='img/icons/python/python-original.svg') }}"  alt="Python" style="width: 8%; height: auto;">
<img src="{{ url_for('static', filename='img/icons/javascript/javascript-original.svg') }}"  alt="javascript" style="width: 8%; height: auto;">
<img src="{{ url_for('static', filename='img/icons/postgresql/postgresql-original-wordmark.svg') }}"  alt="postgresql" style="width: 8%; height: auto;">
<img src="{{ url_for('static', filename='img/icons/ubuntu/ubuntu-plain-wordmark.svg') }}"  alt="ubuntu" style="width: 8%; height: auto;">
<img src="{{ url_for('static', filename='img/icons/git/git-original-wordmark.svg') }}"  alt="git" style="width: 8%; height: auto;">
<img src="{{ url_for('static', filename='img/icons/linux/linux-original.svg') }}"  alt="linux" style="width: 8%; height: auto;">
<img src="{{ url_for('static', filename='img/icons/c/c-original.svg') }}"  alt="C" style="width: 8%; height: auto;">
<img src="{{ url_for('static', filename='img/icons/nginx/nginx-original.svg') }}"  alt="nginxa" style="width: 8%; height: auto;">
<img src="{{ url_for('static', filename='img/icons/redis/redis-original-wordmark.svg') }}"  alt="redis" style="width: 8%; height: auto;">
</div>
<br><br> 
<p> In case of questions and would like to cooperate on projects with PySoft s.r.o. or just need more details, connect with us <a style="color: #0d91e1" href="/contact">Contact</a></p>
<p> Be sure to follow us on twitter <a href="https://twitter.com/pysoftsro" target="blank"><img src="{{ url_for('static', filename='img/icons/twitter/twitter-original.svg') }}" alt="twitter" style="width: 3%; height: auto;"/></a></p>

     </div>
<br>
<hr>
	{% endblock %}</div><br<hr><br><hr><br>
   <div id="footer" style="color: #0d91e1; text-align: center">
    <!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div style="text-align: center;">
                <ul class="list-inline" style="float: right;">
                    <li>
                        <a href="{{ url_for('courses') }}">Courses</a>
                    </li>
                    <li>
                        <a href="/pricing">Pricing</a>
                    </li>
                    <li>
                      <a href="mailto:contact@pysoftsro.com?Subject=Hello%20again" target="_top">Contact</a>
                    </li>
                    <li>
                        <a href="/privacy">Privacy</a>
                    </li>
                   <li>
                       <a href="/disclaimer">Disclaimer</a>
                   </li>
                </ul>
                <ul class="list-inline">
                    <li>
                        <a href="https://twitter.com/pysoftsro" target="_blank">
                            <i class="fab fa-twitter"></i>
                            Twitter</a>
                    </li>
                    <li>
                    <a href="https://www.youtube.com/channel/UCKPSmMfDsXTKrCZApukcJ7A" target="_blank">
                    <i class="fab fa-youtube"></i>
                            YouTube</a>
                    </li>
                    <li>
                   <a href="/"><img style="max-width:30px;margin-top: 1px ; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='img/PySoftLogo2.png') }}"></a>
                    </li>
  <br><br>

       
                 </ul>
                 <br><br><br>
                 <p class="made-with-love text-muted small">Made with <span style="font-size: 15px;fill:purple; color:red; font-weight: bold">&#9825;</span></i> in the Heart Of Europe</i></p>            
            </div>
        </div>
    </div>
</footer>
     {% block footer %}
     &copy; Copyright 2019 by <a style="color: #e5e7e9;" href="/">PySoft-s.r.o Web Properties</a> .All Rights Reserved<p>
      {% endblock %}
    </div>
  </body>
</html>

