{% extends "index.html" %}
{% block title %}Pricing{% endblock %}
{% block head %}
  {{ super() }}
  {% endblock %} 
  {% block content %}

<a href="/"><img style="max-width:110px; margin-top: 1px ; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='img/PySoftLogo2.png') }}"></a>
  <br><br>
  <h3 style="font-weight: 700; color: #1c98ec; text-align: center;">Pricing for Software Products & Cost effective Python, Intro Networking Trainning Sessions</h3>
 <br>
 <div class="container">
     <h2 style="color: #1c98ec"> Software Products</h2> 
     <p> Our main services are Software products in web technology, data analysis and security areas . Since these fields on their own big desciplines we cannot put a definite cup on the prices for developing using bleeding edge open source technologies.
     A basic <span style="color:   #e2dc84 ">web application software product</span> has an hourly rate of <span style="color:  # #e2dc84 ">35&euro;</span> and a <span style="color: #e2dc84"> data science project</span> <span style="color:  #e2dc84">45&euro;</span> a <span style="color: #e2dc84">security OR a Network programming product </span>  <span  style="color:  #e2dc84 ">50&euro;</span> will respectively incur individual hourly rates. 
     
     <br><br>     
     
     <h2 style="color: #1c98ec"> Trainning Sessions</h2> 
     <p><span style="color:#1c98ec">@<a href="/">PySoft s.r.o.</a></span> offers all our courses at affordable prices, 100% satisfaction guaranteed.

We think programming and IT in general is stil the next big thing and we tried to provide the fairest and best model for in-person  courses from our perspective.

If you need training for your whole team, we also have specials for teams and enterprises.
Team members 	Price 
Individuals from 2- 6 person 35&euro; / hour Tax included   	
Enterprises from 2-6 person  40&euro; / hour Tax included
For Individuals & Enterprises for a consecutive trainning sessions of more than 5 , 15% discount.
<div style="text-align: center"><table style="width: 70%;">
       <tr>
           <th style="color: #1c98ec">Individuals</th>
           <th style="color: #1c98ec">Price</th>
       </tr>
       <tr>
           <td>2-6</td>
           <td>35&euro;</td>
       </tr> 
</table><br><br>
<table style="width: 70%;">
      <tr>
         <th style="color:#1c98ec">Enterprises</th>
         <th style="color:#1c98ec">Price</th>
      </tr>
      <tr>
        <td>2-6</td>
        <td>40&euro;</td>
      </tr>
</table>
</div> 
<br>
                        <a href="mailto:contact@pysoftsro.com?Subject=Hello%20again" target="_top">contact us</a> 
{% endblock %}



